* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, serif;
}

body {
  background-image: url(../multimedia/bkgdd.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  background: linear-gradient(to right, #fcd10c, #fcd10c 40%, #aadac3 70%, #00b9f2 100%);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header__img {
  justify-self: left;
  padding-left: 5px;
  height: 18vh;
  object-fit: fill;
  overflow: hidden;
  margin-right: 10%;
}
.header__titles {
  display: flex;
  flex-direction: column;
  margin-left: center;
  align-items: center;
}
.header__mainTitle {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 7vh;
  padding: 3vh;
  text-align: center;
  text-rendering: optimizeLegibility;
  color: #131313;
  letter-spacing: 0.15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d;
}
.header__h2 {
  text-align: center;
  font-size: 5vh;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474;
}

@media (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__img {
    width: 20vh;
    object-fit: contain;
    width: 100%;
    margin-right: 0;
    padding: 0;
  }
  .header__mainTitle {
    font-size: 6vw;
    text-align: center;
  }
  .header__h2 {
    font-size: 6vw;
    text-align: center;
  }
}
h1, h2 {
  display: flex;
  justify-content: center;
}

.formu1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3vh;
}
.formu1__caja {
  background-color: #2DBFFF;
  width: 95%;
  border-radius: 15px;
  box-shadow: 3px 3px 10px;
  border: solid rgb(119, 119, 119) 2px;
  border-radius: 2vw;
  background: rgba(255, 255, 255, 0.45);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.225);
}
.formu1__datos {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  gap: 6vh;
  padding: 2vh;
  font-size: 1rem;
  width: 100%;
}
.formu1__ingreso {
  display: flex;
  padding: 2vh;
  width: 100%;
  justify-content: center;
  gap: 7%;
  flex-wrap: wrap;
}
.formu1__submit {
  font-size: 2rem;
}
.formu1__reset {
  font-size: 1.5rem;
}

.lista {
  display: none;
  justify-content: space-evenly;
}
.lista__Especialidad {
  margin: 3.5vh;
  padding: 5vh;
  list-style: none;
  box-shadow: 3px 3px 10px;
  border: solid rgb(119, 119, 119) 2px;
  border-radius: 2vw;
  background: rgba(255, 255, 255, 0.45);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.225);
}
.lista__Dias {
  margin: 3.5vh;
  padding: 5vh;
  box-shadow: 3px 3px 10px;
  border: solid rgb(119, 119, 119) 2px;
  border-radius: 2vw;
  background: rgba(255, 255, 255, 0.45);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.225);
}
.lista__Horarios {
  margin: 3.5vh;
  padding: 5vh;
  box-shadow: 3px 3px 10px;
  border: solid rgb(119, 119, 119) 2px;
  border-radius: 2vw;
  background: rgba(255, 255, 255, 0.45);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.225);
}

.final {
  display: flex;
  justify-content: center;
  height: 80vh;
  flex-wrap: wrap;
  margin: 8vh;
}
.final__turno {
  font-size: 4rem;
  padding: 3vh;
  flex-wrap: wrap;
  margin: 3.5vh;
  width: 70%;
  height: fit-content;
  border: black solid;
  box-shadow: 3px 3px 10px;
  border: solid rgb(119, 119, 119) 2px;
  border-radius: 2vw;
  background-color: rgb(81, 81, 82);
  color: aliceblue;
  flex-wrap: wrap;
  background: rgba(16, 16, 16, 0.55);
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  border: 1px solid rgba(16, 16, 16, 0.275);
}

@media (max-width: 1024px) {
  .lista {
    flex-direction: column;
  }
  .final__turno {
    margin: 0;
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
